<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Fac Ing</title>
		<link rel="stylesheet" href="../css/stilospagina.css">
		<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" 
			  rel="stylelesheet">
	</head>
	
	<body>
		<nav class="navegacion">
		
			<label class="container">
				<label class="btn-menu">
					<label for="btn-menu">☰</label>
				</label>
			</label>	
	
			<a href="">Inicio</a>
			<a href="">Acerca de</a>
			<a href="">Carreras</a>
			<a href="">Noticias</a>
			<a href="">Contacto</a>
		</nav>
		
		<header	class="titulo">
			<h1>Facultad de Ingenieria UNJU</h1>
			<img alt="logo facultad" src="https://fi.unju.edu.ar/images/LOGOS-FI-UNJU/logo-fi-unju-institucional-285x159.png">
			<h3>RESPONSABLES DE NUESTRO PROPIO DESTINO</h3>
		</header>
		
		
		<input type="checkbox" id="btn-menu">
		<aside class="container-menu">
			<div class="cont-menu">
				<nav>
					<a href="#">Bibliotecas</a>
					<a href="#">Calendario Academico</a>
				</nav>
				<label for="btn-menu">✖️</label>
			</div>
		</aside>

		
		<main class="main">
			<p>La Facultad de Ingenieria de la Universidad Nacional de Jujuy (FI-UNJu) 
			es una institucion publica de educacion superior ubicada en San Salvador de Jujuy,
			Argentina. Ofrece carreras de grado, posgrado y cursos de capacitacion en diversas
			areas de la ingenieria.</p>
			<h3>NOTICIAS</h3>
			
			<section class="contenido">
			<a href="https://www.fi.unju.edu.ar/alumnos-noticias/4583-convocatoria-beca-unisa-aa-2024-2025-universita-degli-studi-di-salerno.html">
			<img alt="" src="https://fi.unju.edu.ar/images/2024-Noticias/universita-degli-studi-di-salerno.jpg">
			Convocatoria “Beca UNISA” AA 2024/2025 | Università degli Studi di Salerno</a>
			
			<a href="https://www.fi.unju.edu.ar/noticias/categorias/51-secyp-fi/unju-saludable/4582-segundo-y-tercer-encuentro-de-los-talleres-de-capacitacion-de-autocuidado-y-emociones-para-no-docentes-de-la-fi-unju.html">
			<img alt="" src="https://fi.unju.edu.ar/images/2024-Noticias/taller-autocuidado-2-3enc.jpg">
			Segundo y Tercer Encuentro de los Talleres de Capacitación de "AUTOCUIDADO Y EMOCIONES" para No Docentes de la FI UNJu</a>
			
			<a href="https://www.fi.unju.edu.ar/unju/4580-campana-de-vacunacion-unju-2024.html">
			<img alt="" src="https://fi.unju.edu.ar/images/2024-Noticias/vacunacion-unju-2024.jpg">
			Campaña de vacunación UNJu 2024</a>
			</section>
		</main>
		
		<footer class="footer">
			<p>Italo Palanca N 10</p>
			<p>0388-422-1576</p>
			<p>info@fi.unju.edu.ar</p>
			<a href="https://www.instagram.com/unjuvirtual/">Instagram</a>
			<a href="https://www.facebook.com/fiunju/">Facebook</a>
			<a href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">Youtube</a>
			<p>Copyright © 2014-2022 - Facultad de Ingenieria - UNJu</p>
		</footer>
		
	</body>
</html>